<div class="container mt-5">
    <h1 class="mb-4">Lịch sử đơn hàng</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <% orders.forEach(order => { %>
            <tr>
                <td><%= order._id %></td>
                <td><%= new Date(order.created_at).toLocaleDateString() %></td>
                <td><%= order.total_price %> VND</td>
                <td><%= order.status %></td>
                <td>
                    <a href="/users/orders/detail/<%= order._id %>" class="btn btn-info btn-sm">Xem chi tiết</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
